body {
    background-color: #63b5f1;
    margin-top: 60px;
    text-align: center;
    font-family: sans-serif;
}

.container {
    width: 400px;
    margin: auto;
}

#blocBleu {
    background-color: #3d84b8;
    padding: 20px 40px 80px;
    border-radius: 10px 10px 0 0;
}

#blocBlanc {
    background-color:  white;
    padding: 80px 40px 20px;
    border-radius: 0 0 10px 10px;
}

h1 {
    margin: 0;
    font-size: 16px;
    color: white;
}

h2 {
    margin: 0;
    font-weight: 300;
    color: #3d84b8;
    font-size: 30px;
}

p {
    color: #555555;
    font-size: 12px;
    line-height: 24px;
}

.text-white {
    color: white;
}

a {
    color: #63b5f1;
}

.btn {
    background-color: #3d84b8;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 18px;
    border-radius: 5px;
}
